<h2>商品一覧</h2>

<P>商品ID</P>
<p>商品名</p>
<p>税込価格</p>
<p>ジャンル</p>
<p>ステータス</p>
<%= @items.each do |item| %>
  <span><%= item.id %></span>
  <span><%= item.nema %></span>
  <span><%= item.price %></span>
  <span><%= item.genre.name %></span>
  <% if item.is_active == true %>
    販売中
  <% else %>
    販売停止中
  <% end %>
<% end %>