<div class="container">
  <div class="row">
    <div class="col-10">
      <h3>商品一覧</h3>
    </div>
    <div class="col-2">
      <%= link_to new_admin_item_path do %>
        <i class="fa-solid fa-circle-plus"></i>
      <% end %>
    </div>
  </div>
  <div class="row mt-5">
    <table class="table table-borderless">
      <thead class="table-active">
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>税込価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
          <tr>
            <td><%= item.id %></td>
            <td>
              <%= link_to admin_item_path(item.id),data: {"turbolinks"=>false} do %>
                <%= item.name %>
              <% end %>
            </td>
            <td><%= item.price %></td>
            <td><%= item.genre.name %></td>
            <% if item.is_active == true %>
              <td class="text-success">販売中</td>
            <% else %>
              <td class="text-secondary">販売停止中</td>
            <% end %>
          </tr> 
        <% end %>
        <tr>
          <td><%= paginate @items %>
        </tr>
      </tbody>
    </table>
  </div>
</div>