<h2>商品新規登録</h2>
<%= form_with model: @item, url: admin_items_path, method: :post do |f| %>
  <%= f.label :商品画像 %>
  <%= f.file_field :image, accept: "image/*" %>
  <%= f.label :商品名 %>
  <%= f.text_field :name %>
  <%= f.label :商品説明 %>
  <%= f.text_area :introduction %>
  <%= f.label :ジャンル %>
  <%= f.collection_select(:genre_id, Genre.all, :id, :name) %>
  <%= f.label :税抜価格 %>
  <%= f.text_field :price %>円
  <%= f.label :販売ステータス %>
  <%= f.radio_button :is_active, true %>販売中
  <%= f.radio_button :is_active, false %>販売停止中
  <%= f.submit '新規登録' %>
<% end %>