<div class="container">
  <h2 >商品新規登録</h2>
  <div class="row d-flex justify-content-center" >
    <%= form_with model: @item, url: admin_items_path, method: :post do |f| %>
      <table>
        <tr>
          <td><%= f.label :商品画像 %></td>
          <td><%= f.file_field :image, accept: "image/*" %></td>
        </tr>
        <tr>
          <td><%= f.label :商品名 %></td>
          <td><%= f.text_field :name, placeholder: "商品名" %></td>
        </tr>
        <tr>
          <td><%= f.label :商品説明 %></td>
          <td><%= f.text_area :introduction, placeholder: "ここに説明文を記述します" %></td>
        </tr>
        <tr>
          <td><%= f.label :ジャンル %></td>
          <td><%= f.collection_select(:genre_id, Genre.all, :id, :name, include_blank: '--選択してください--' ) %></td>
        </tr>
        <tr>
          <td><%= f.label :税抜価格 %></td>
          <td><%= f.text_field :price, placeholder: "1000" %>円</td>
        </tr>
        <tr>
          <td><%= f.label :販売ステータス %></td>
          <td>
            <%= f.radio_button :is_active, true %>販売中
            <%= f.radio_button :is_active, false %>販売停止中
            </td>
        </tr>
        <tr>
          <td><%= f.submit '新規登録', class:"btn btn-success" %></td>
        </tr>
      </table>
    <% end %>
  </div>
</div>