<div class="container">
  <h3>管理者ログイン</h3>
  <div class="row">
    <div class="col-7 mx-auto">
      <table class="table table-borderless">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <tr class="field">
            <th><%= f.label :email, "メールアドレス" %></th>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %></td>
          </tr>
  
          <tr class="field">
            <th><%= f.label :password, "パスワード" %></th>
            <td><%= f.password_field :password, autocomplete: "current-password" %></td>
          </tr>
  
          <tr class="actions">
            <th> </th>
            <td><%= f.submit "ログイン", class: "btn btn-primary" %></td>
          </tr>
        <% end %>
      </table>
    </div>
    <%= render "admin/shared/links" %>
  </div>
</div>
