<div class="container">
  <h2><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</h2>
  <div class="row">
    <table class="table table-borderless">
      <%= form_with model: @customer, url: admin_customer_path, method: :patch do |f| %>
      <tr>
        <th><%= f.label :会員ID %></th>
        <td><%= @customer.id %></td>
      </tr>
      <tr>
        <th><%= f.label :氏名 %></th>
        <td><%= f.text_field :last_name %>　　　<%= f.text_field :first_name %></td>
      </tr>
      <tr>
        <th><%= f.label :フリガナ %></th>
        <td><%= f.text_field :last_name_kana %>　　　<%= f.text_field :first_name_kana %></td>
      </tr>
      <tr>
        <th><%= f.label :郵便番号 %></th>
        <td><%= f.text_field :postal_code %></td>
      </tr>
      <tr>
        <th><%= f.label :住所 %></th>
        <td><%= f.text_field :address %></td>
      </tr>
      <tr>
        <th><%= f.label :電話番号 %></th>
        <td><%= f.text_field :telephone_number %></td>
      </tr>
      <tr>
        <th><%= f.label :メールアドレス %></th>
        <td><%= f.text_field :email %></td>
      </tr>
      <tr>
        <th><%= f.label :会員ステータス %></th>
        <td>
          <%= f.radio_button :is_active, false %>有効
          <%= f.radio_button :is_active, true %>退会
        </td>
      </tr>
      <tr>
        <th></th>
        <td><%= f.submit '変更を保存' %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>