<h2><%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細</h2>

<p>会員ID</p>
<span><%= @item.name %></span>

<p>氏名</p>
<span><%= @customer.last_name %> <%= @customer.first_name %></span>
  
<p>フリガナ</p>
<span><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></span>

<p>郵便番号</p>
<span><%= @customer.postal_code %></span>

<p>住所</p>
<span><%= @customer.address %></span>

<p>電話番号</p>
<span><%= @customer.telephone_number %></span>

<p>メールアドレス</p>
<span><%= @customer.email %></span>

<p>会員ステータス</p>
<% if @customer.is_active == true %>
  有効
<% else %>
  退会
<% end %>

<%= link_to '編集する', edit_admin_customer_path(@customer.id) %>
<%= link_to '注文履歴一覧を見る', admin_order_path(@customer.id) %>