<div class="container">
  <h2>注文履歴詳細</h2>
  <div class="row">
    <table class="table">
      <tr>
        <th>購入者</th>
        <td><%= @order.name %></td>
      </tr>
      <tr>
        <th>注文日</th>
        <td><%= @order.created_at.strftime('%Y/%m/%d %H:%M') %></td>
      </tr>
      <tr>
        <th>配送先</th>
        <td><%= @order.postal_code %><%= @order.address %><br><%= @order.name %></td>
      </tr>
      <tr>
        <th>支払方法</th>
        <td><%= @order.payment_method_i18n %></td>
      </tr>
      <tr>
        <th>注文ステータス</th>
        <%= form_with model: @order, url: admin_orders_orders_update_path(@order), method: :patch do |f| %>
          <td>
            <%= f.select :order_status, options_for_select(Order.order_statuses_i18n.invert, :selected => @order.order_status_i18n) %>
            <%= f.submit "変更", class:"btn btn-success" %>
          </td>
        <% end %>
      </tr>
    </table>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <table class="table">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th>製作ステータス</th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          <% @order_detail.each do |order_detail| %>
            <tr>
              <!--商品名-->
              <td><%= order_detail.item.name %></td>
              <!--単価（税込）-->
              <td><%= order_detail.price %></td>
              <!--数量-->
              <td><%= order_detail.amount %></td>
              <!--小計-->
              <td><%= order_detail.price * order_detail.amount %></td>
              <!--製作ステータス-->
              <%= form_with model: order_detail, url: admin_orders_production_update_path(order_detail), method: :patch do |f| %>
                <td><%= f.select :making_status, options_for_select(OrderDetail.making_statuses_i18n.invert, :selected => order_detail.making_status_i18n) %></td>
                <td><%= f.submit "変更", class:"btn btn-success" %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-lg-4">
      <table class="table table-borderless">
        <tr>
          <th>商品合計</th>
          <td><%= @total_price.round.to_s(:delimited)%></td>
        </tr>
        <tr>
          <th>送料</th>
          <td><%= @order.postage.to_s(:delimited) %></td>
        </tr>
        <tr>
          <th>請求金額合計</th>
          <td><%= @total_payment.round.to_s(:delimited) %></td>
        </tr>
      </table>
    </div>
  </div>
</div>