<div class="container">
  <h1>配送先編集</h1>
  <div class="row">
    <table>
      <%= form_with model: @address, url:public_addresses_path, method: :patch do |f| %>
        <tr>
          <th><%= f.label :郵便番号（ハイフンなし） %></th>
          <td><%= f.text_field :postal_code %></td>
        </tr>
          <th><%= f.label :住所 %></th>
          <td><%= f.text_field :address, size:50 %></td>
        </tr>
          <th><%= f.label :宛名 %></th>
          <td><%= f.text_field :name %></td>
          <td><%= f.submit '変更内容を保存', class:"btn btn-success" %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>