<h1>配送先登録/一覧画面</h1>

<%= form_with model: @address, url:public_addresses_path, method: :post do |f| %>
  <%= f.label :郵便番号（ハイフンなし） %>
  <%= f.text_field :postal_code %>
  <%= f.label :住所 %>
  <%= f.text_field :address %>
  <%= f.label :宛名 %>
  <%= f.text_field :name %>
  <%= f.submit '新規登録', class:"btn btn-success" %>
<% end %>

<p>郵便番号</p>
<p>住所</p>
<p>宛名</p>

<% @addresses.each do |address| %>
  <%= address.postal_code %>
  <%= address.address %>
  <%= address.name %>
<% end %>