<div class="container">
  <h4>注文履歴一覧</h4>
  <div class="row">
    <table class="table table-bordered">
      <thead>
        <tr class="table-active">
          <th>注文日</th>
          <th>配送先</th>
          <th>注文商品</th>
          <th>支払金額</th>
          <th>ステータス</th>
          <th>注文詳細</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order|%>
          <tr>
            <!--注文日-->
            <td><%= order.create_at %></td>
            <!--配送先-->
            <td><%= order.address %></td>
            <!--注文商品一覧-->
            <td>
              <% order.order_details.each do |order_detail| %>
                <%= order_detail.item.name %>
              <% end %>
            </td>
            <!--支払金額-->
            <td><%= order.total_payment.round.to_s(:delimited) %></td>
            <!--ステータス-->
            <td><%= order.order_status %></td>
            <!--注文詳細へのリンク-->
            <td><%= link_to '表示する', public_order_path %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
