<div container>
  <h2>ログイン</h2>
  <div class="row">
    <div class="col-7 mx-auto">
      <table class="table table-borderless">
        <tr>
          <th>会員の方はこちらからログイン</th>
        </tr>
      </table>
      <table class="table table-borderless">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

          <tr class="field">
            <th><%= f.label :メールアドレス %></th>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
          </tr>

          <tr class="field">
            <th><%= f.label :パスワード %></th>
            <td><%= f.password_field :password, autocomplete: "current-password" %></td>
          </tr>

          <tr class="actions">
            <td><%= f.submit "ログイン" %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-7 mx-auto">
      <table>
        <tr>
          <th>会員登録がお済みでない方</th>
        </tr>
        <tr>
          <td>
            <%= render "public/shared/links" %>から新規登録を行ってください
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
