<th>ジャンル検索</th>

<% @genres.each do |genre| %>
  <%= link_to public_items_path(name: genre.id) do %>
    <%= genre.name %>
  <% end %>
<% end %>


<%= image_tag @item.image, size: "200x200"%>
  <td><%= @item.name %></td>

  <td><%= @item.introduction %></td>

  <td>税込み価格<br>(税込)</td>
  <td><%= @item.with_tax_price %>円</td>

<% if @item.is_active == true %>
  <%= form_with model: @cart_item, url: public_cart_items_path, method: :post do |f| %>
    <%= f.hidden_field :item_id, value: @item.id %>
    <%= f.select :amount, options_for_select((1..10).to_a), include_blank: "個数選択" %>
    <%= f.submit "カートに入れる", class:"btn btn-success btn-sm ml-4" %>
  <% end %>
<% else %>
  <p class="text-danger font-weight-bold soldout">申し訳ございません。現在品切れ中です。</p>
<% end %>

